<div class="mobile-header-active mobile-header-wrapper-style">
   <div class="mobile-header-wrapper-inner">
       <div class="mobile-header-top">
           <div class="mobile-header-logo">
               <a href="/"><img src="/assets/imgs/theme/inloop-logo.png" alt="logo"></a>
           </div>
           <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
               <button class="close-style search-close">
                   <i class="icon-top"></i>
                   <i class="icon-bottom"></i>
               </button>
           </div>
       </div>
       <div class="mobile-header-content-area">
           <div class="mobile-search search-style-3 mobile-header-border">
               <form action="/shop">
                   <input type="text" placeholder="Search for items…">
                   <button type="submit"><i class="fi-rs-search"></i></button>
               </form>
           </div>
           <div class="mobile-menu-wrap mobile-header-border">
               <div class="main-categori-wrap mobile-header-border">
               </div>
               <!-- mobile menu start -->
               <nav>
                   <ul class="mobile-menu">
                       <li class="menu-item-has-children"><span class="menu-expand"></span><a
                               href="/">Home</a>
                       </li>
                       <li class="menu-item-has-children"><span class="menu-expand"></span><a
                               href="/shop">Shop</a>
                       </li>
                       <li class="menu-item-has-children"><span class="menu-expand"></span><a
                        href="/contact">Contact us</a>
                </li>
                   </ul>
               </nav>
               <!-- mobile menu end -->
           </div>
           <div class="mobile-header-info-wrap mobile-header-border">
               <div class="single-mobile-header-info">

                    <a href="/profile">Profile</a>

                    <a href="/logout">Logout</a>    

               </div>
           </div>
           <div class="mobile-social-icon">
               <h5 class="mb-15 text-grey-4">Follow Us</h5>
               <a href="#"><img src="userassets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
               <a href="#"><img src="userassets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
               <a href="#"><img src="userassets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
               <a href="#"><img src="userassets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
               <a href="#"><img src="userassets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
           </div>
       </div>
   </div>
</div>